button {
    display:inline-block;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1em;
    border:rgb(46, 35, 4);
    color:rgb(179, 125, 46);
    padding: 1%;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 20px;
}

.back1 {
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
    margin-left: 35%;
    margin-top:3%;
}

.back1:hover{
    background-color: rgb(170, 59, 32);
}

.submit {
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
    padding-right: 3.25%;
    padding-left: 3.25%;
    margin-top:3%;
    margin-left: 10%;
    
}

.submit:hover{
    background-color: rgb(170, 59, 32);
}

.orderwelcome {
    display: block;
    font-size: 1.8em;
    margin-left: 45%;
}

.bakeryAmt {
    display: inline-block;
    margin-left: 40%;
    padding: 3%;
}


.whitebread {
    display: block;
    padding: 10%;
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
    margin-left: 3%;
    margin-top: 1%;
}

.whitebread:hover{
    background-color: rgb(170, 59, 32);
}

.wheatbread {
    display: block;
    padding: 10%;
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.wheatbread:hover{
    background-color: rgb(170, 59, 32);
}

.whitebuns {
    display: block;
    padding: 10%;
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.whitebuns:hover{
    background-color: rgb(170, 59, 32);
}

.wheatbuns {
    display: block;
    padding: 10%;
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.wheatbuns:hover{
    background-color: rgb(170, 59, 32);
}

.flatbread {
    display: block;
    padding: 15%;
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.flatbread:hover{
    background-color: rgb(170, 59, 32);
}

.frenchbread {
    display: block;
    padding: 15%;
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.frenchbread:hover{
    background-color: rgb(170, 59, 32);
}

