button {
    display:inline-block;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 19em;
    border:rgb(46, 35, 4);
    color:rgb(179, 125, 46);
    padding: 1%;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 20px;
}

.back1 {
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.back1:hover{
    background-color: rgb(170, 59, 32);
}

.submit {
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
    padding-right: 3.25%;
    padding-left: 3.25%;
    
}

.submit:hover{
    background-color: rgb(170, 59, 32);
}