button {
    display:block;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 9em;
    margin-left: 35em;
    border:rgb(46, 35, 4);
    color:rgb(179, 125, 46);
    padding: 1%;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 20px;
}

.back {
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.back:hover{
    background-color: rgb(170, 59, 32);
}

.thanks {
    display: inline-block;
    border: .3em rgb(46, 35, 4) double;
    margin-top: 7em;
    margin-left:32%;
    font-size: 1.2em;
}

.t {
    padding: 2em;
    text-indent: 31%;

}

.p {
    padding: 2em;
}