body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.header {
    overflow: auto;
    margin: 0%;
    padding: 0%;
    background-color: rgb(216, 177, 71);
}

h1 {
    font-size: 5vmax;
    text-align: center;
    font-style: bold;
    padding: 0%;
    margin: 1.2%;
    overflow: auto;
}

img {
    padding-left: 2%;
    padding-right: 2%;
    width: 6vmax;
    height: 6vmax;
    overflow: auto;
}

button {
    display: block;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    border:rgb(46, 35, 4);
    color:rgb(179, 125, 46);
    padding: 2%;
    font-size: 3em;
    cursor: pointer;
    border-radius: 20px;
}

.order {
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
}

.order:hover{
    background-color: rgb(170, 59, 32);
}

.admin {
    background-color: rgb(197, 124, 29);
    color: black;
    border: solid;
    padding-right: 3.25%;
    padding-left: 3.25%;
    
}

.admin:hover{
    background-color: rgb(170, 59, 32);
}

.welcome {
    text-align: center;
    font-size: 2em;
}