<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="globalcss.css" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pat's Bakery</title>
</head>
<body>
  <div class="header">
    <h1><img src="melonbreadheadpublicdomain.svg" alt="Pat's Bakery Logo">Pat's Bakery<img src="melonbreadheadpublicdomain.svg" alt="Pat's Bakery Logo"></h1>
  </div>
  <div class="buttons">
    <p class="welcome">Welcome to Pat's Bakery!</p>
  </div>
  <form>
    <button formaction="order.html" class="order">Make An Order</button>
    <button formaction="admin.html" class="admin">Admin Portal</button>
  </form>
</body>
</html>



<!-- <div id="app">
    <form @submit.prevent="submitOrder">
      <label>Employee Name:</label>
      <input type="text" v-model="employeeName">
      <br>
      <label>Customer Name:</label>
      <input type="text" v-model="customerName">
      <br>
      <label>Email or Phone:</label>
      <input type="text" v-model="contactInfo">
      <br>
      <label>Order:</label>
      <ul>
        <li v-for="(quantity, item) in orderItems" :key="item">
          {{item}} - {{quantity}}
          <button type="button" @click="incrementItem(item)">+</button>
          <button type="button" @click="decrementItem(item)">-</button>
        </li>
      </ul>
      <button type="submit">Submit Order</button>
    </form>
  </div>-->
